@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #555;
}

.app {
  padding: 3vw;
  min-height: 100vh;
}

.app h2 {
  color: #bbb;
}

.chart {
  margin-top: 20px;
  background: #555;
  height: 63px;
  padding-top: 20px;
  position: relative;
}

.chart-min {
  position: absolute;
  left: 1%;
  z-index: 2;
}

.chart-zero {
  position: absolute;
  left: 50%;
  z-index: 2;
  text-align: center;
  width: 20px;
  margin-left: -10px;
}

.chart-max {
  position: absolute;
  right: 1%;
  z-index: 2;
}

.chart-position {
  content: '';
  width: 30px;
  height: 30px;
  margin-left: -15px;
  background: red;
  top: 16px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}

.chart:before {
  content: '';
  position: absolute;
  top: 0;
  width: 16.666%;
  left: 66.666%;
  height: 100%;
  background: #888;
}

.chart:after {
  content: '';
  position: absolute;
  top: 0;
  width: 16.666%;
  left: 83.333%;
  height: 100%;
  background: rgb(59, 199, 5);
}
