@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #555;
}

.app {
  padding: 3vw;
  min-height: 100vh;
}

.app h2 {
  color: #bbb;
}

.chart {
  margin-top: 20px;
  background: #555;
  height: 63px;
  padding-top: 20px;
  position: relative;
}

.chart-min {
  position: absolute;
  left: 1%;
  z-index: 2;
}

.chart-zero {
  position: absolute;
  left: 50%;
  z-index: 2;
  text-align: center;
  width: 20px;
  margin-left: -10px;
}

.chart-max {
  position: absolute;
  right: 1%;
  z-index: 2;
}

.chart-position {
  content: '';
  width: 30px;
  height: 30px;
  margin-left: -15px;
  background: #bbb;
  color: #444;
  top: 16px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(40, 40, 40, 0.5);
}

.chart i {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
}

.chart .chart-bg-25 {
  width: 25%;
  left: 0%;
  background: #3c3c3c;
}
.chart .chart-bg-50 {
  width: 25%;
  left: 25%;
  background: #757575;
}
.chart .chart-bg-62 {
  width: 12.5%;
  left: 50%;
  background: #d8a6ff;
}
.chart .chart-bg-75 {
  width: 12.5%;
  left: 62.5%;
  background: #cb88ff;
}
.chart .chart-bg-87 {
  width: 12.5%;
  left: 75%;
  background: #a333f9;
}
.chart .chart-bg-100 {
  width: 12.5%;
  left: 87.5%;
  background: #950aff;
}
